@charset "UTF-8";

@import url(fonts.css);
@import url(variable.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
}

/* Top site */

.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 24px;
}

.header__bg {
    background-color: var(--secondary-color);
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-wrapper__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 96px 0px 32px;
}

.header-icon__paragraph {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal-bold);
}

.header-wrapper__info {
    display: flex;
    flex-direction: column;
}

.header__title {
    font-weight: var(--font-weight-middle-bold);
    font-size: var(--font-size-xxl);
    line-height: 120%;
    margin-bottom: 24px;
}

.header__paragraph {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-md);
    line-height: 150%;
    margin-bottom: 40px;
}

.header__btn {
    background: var(--primary-color);
    color: white;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    margin-bottom: 64px;
}

.header__btn:hover {
    cursor: pointer;
}

.header__hero {
    width: 280px;
    height: 200px;
    align-self: center;
    margin-bottom: 96px;
}

/* main */


.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-middle-bold);
    margin-top: 80px;
}

.main-paragraph {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    line-height: 150%;
    text-align: center;
    margin-top: 16px;
}

.main-wrapper__timer {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-middle-bold);
    margin-top: 24px;
}

.main-img__1 {
    width: 280px;
    height: 190px;
    margin-top: 24px;
}

.main-division {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    border: none;
    border-top: 2px solid #CD3C3233;
    margin: 80px 0;
}

.main-img__2 {
    width: 200px;
    height: 190px;
}

.main-wrapper__info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-title__info {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-middle-bold);
    margin-top: 48px;
}

.main-paragraph__info {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    line-height: 150%;
    margin-top: 24px;
    margin-bottom: 40px;
}

.main-btn {
    width: 100%;
    background: var(--primary-color);
    color: white;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    margin-bottom: 88px;
}

/* footer */




.color-red {
    color: var(--primary-color);
}